/* mobile and tablet: width <= 1024  */
@media only screen and (max-width:63.9375em) {
    .home {
        padding: 20px 20px !important;
    }

    .commit-sign {
        padding: 20px 20px !important;
    }
}

/* mobile : width < 740px */
@media only screen and (max-width:46.1875em) {
    .home {
        flex-direction: column-reverse;
    }

    .introduce-home {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .img-home {
        flex: 1 1 100%;
        max-width: 100%;
        justify-content: center !important;
    }

    /* sign */
    .commit-sign {
        display: flex;
        flex-direction: column;
    }

    .sign {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/* Tablet: width >= 740px and width<1024px*/
@media only screen and (min-width:46.25em) and (max-width:63.9375em) {

    .sign {
        flex: 1 1 calc(50% - 16px);
        max-width: calc(50% - 16px);
    }
}
/*  */
.home {
    background-color: #d6e5fb;
    display: flex;
    align-items: center;
}

.image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    color: rgb(215, 209, 209);
    font-size: 32px;
    font-weight: 500;
    padding: 0 80px;
    transition: opacity 0.5s ease-in-out;
}

.home_image{
    display: flex;
    justify-content: center;
}
.home_image img{
    width: 80%;
    
}
.home p {
    padding: 20px 0;
    font-size: 18px;
    line-height: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.home span {
    font-size: 35px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.home button {
    font-size: 15px;
    border-radius: 5px;
    padding: 12px 30px;
    margin-top: 25px;
    color: white;
    border: none;
    transition: transform 0.3s ease;
}

.home .change-image-btn:hover {
    background-color: transparent ;  /* Không có màu nền */
    color: inherit ;                 /* Giữ nguyên màu chữ */
}

.commit-sign {
    padding: 60px 80px;
    color: rgb(9, 14, 19);
    font-weight: 500;
    font-size: 18px;
}

.sign {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100px;
    justify-content: center;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.commit-sign_green {
    background-color: rgb(198, 230, 198);
}

.commit-sign_green:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.commit-sign_orange {
    background-color: rgb(230, 211, 180);
}

.commit-sign_orange:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.commit-sign_blue {
    background-color: rgb(181, 214, 228);
}

.commit-sign_blue:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.commit-sign_yellow {
    background-color: rgb(239, 239, 188);
}

.commit-sign_yellow:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.commit-sign_green-award {
    font-size: 30px;
    padding-right: 25px;
}

.commit-sign_blue-headset {
    font-size: 30px;
    padding-right: 25px;
}

.commit-sign_orange-swap {
    font-size: 30px;
    padding-right: 25px;
}

.commit-sign_yellow-truck {
    font-size: 30px;
    padding-right: 25px;
}


/* dsaddsad */
.introduce-container {
    display: flex;
    flex-direction: column;
    max-height: 320px;
    border: 1px solid #d1d5db;
    position: relative;
}

@media (min-width: 640px) {
    .introduce-container {
        flex-direction: row;
    }
}

.text-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    background-color: #ffedd5;
}

@media (min-width: 640px) {
    .text-container {
        width: 33.3333%;
        padding: 0;
    }
}

.text-content {
    color: #414141;
    padding-left: 40px;
}

.line {
    width: 32px;
    height: 2px;
    background-color: #414141;
}

.order-now {
    font-weight: 600;
    font-size: 14px;
}

@media (min-width: 768px) {
    .order-now {
        font-size: 16px;
    }
}

.image-container {
    width: 100%;
    transition: opacity 0.5s ease-in-out;
}

@media (min-width: 640px) {
    .image-container {
        width: 66.6667%;
    }
}

.image-fade {
    opacity: 0;
}

.image-visible {
    opacity: 1;
}

.change-image-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: transparent;
    color: white;
    font-size: 24px;
}

.icon {
    font-size: 24px;
    position: absolute;
    right: 16px;
    color: #d1d5db;
}