/* mobile and tablet: width <= 1024  */
@media only screen and (max-width:63.9375em) {
    
}

/* mobile : width < 740px */
@media only screen and (max-width:46.1875em) {
    .login-form {
        width: 90% !important;
    }
}

/* Tablet: width >= 740px and width<1024px*/
@media only screen and (min-width:46.25em) and (max-width:63.9375em) {
    .login-form {
        width: 45% !important;
    }
}

.login {
    display: flex;
    flex-direction: column;
    padding: 38px 0;
}

.login-title {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 18px;
    z-index: 1;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;
    background-color: #0a1d37;
    border-radius: 1vh;
    width: 28%;
    min-height: 100px;
    padding: 24px 12px;
    box-shadow: 0px 0px 30px rgb(244, 244, 246);
}

.login-form input {
    width: 100%;
    align-self: center;
    padding: 3.5%;
    border-radius: 1vh;
}

.login-form button {
    width: 30%;
    padding: 3.5%;
    margin-top: 8%;
    margin-bottom: 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #0a1d37;
    background-color: white;
    align-self: center;
}

.login-form button:hover {
    color: white;
    background-color: #0758c9;
}

.login-question {
    color: white;
    align-self: center;
    margin-top: 3%;
}

.login span {
    position: absolute;
    align-self: center;
    color: orange;
    font-size: 14px;
    bottom: 261px;
}

.link-to_register {
    color: orange;
}

.link-to_register:hover {
    color: white;
}